/* line 1, ../sass/helpers/_sticky.scss */
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/* line 1, ../sass/layout/_card.scss */
.card {
  border-radius: 1rem;
  background-color: #EEEEEE;
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
}
/* line 8, ../sass/layout/_card.scss */
.card .card-img {
  height: 250px;
}
/* line 11, ../sass/layout/_card.scss */
.card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: 'object-fit: cover; object-position: bottom;';
}
/* line 19, ../sass/layout/_card.scss */
.card .card-description {
  padding: 1rem;
  height: 22rem;
}
/* line 23, ../sass/layout/_card.scss */
.card .card-controllers {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background: rgba(238, 238, 238, 0.6);
  padding: 0.75rem;
}
/* line 34, ../sass/layout/_card.scss */
.card .card-controllers .favorite svg {
  height: 1.5rem;
}
/* line 37, ../sass/layout/_card.scss */
.card .card-controllers .favorite svg path {
  fill: #000000;
}

.card .card-controllers .favoriteClicked svg path {
  fill: red;
}
/* line 42, ../sass/layout/_card.scss */
.card .card-controllers button {
  border: 0;
  background-color: transparent;
}
/* line 47, ../sass/layout/_card.scss */
.card .card-controllers .delete span {
  font-size: 2.125rem;
  color: #000000;
}

/* line 1, ../sass/layout/_content.scss */
.content {
  display: flex;
}
/* line 4, ../sass/layout/_content.scss */
.content .main-content {
  flex: 1;
}

/* line 1, ../sass/layout/_main-navigation.scss */
.main-navigation {
  max-width: 150px;
  padding-right: 4rem;
  padding-top: 2rem;
}

.logo {
  width: 100%;
}

button:focus {
  outline:0;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0;
}

p, a {
  font-weight: 300;
}


h1, h2, h3, label{
  font-weight: 400;
}
/*STAFF BLOCK*/
.img-rounded.pull-left{
  border-radius: 25px;
  margin-right: 10px;
}

.img-rounded.pull-right{
  border-radius: 25px;
}

.staffBox {
  display: inline;
  margin-left: 10px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid black;;
}

/*NEWSLETTER*/
.newsletter{
  background-color: #337ab7;
  color: #fff;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-top: 15px;
}

.newsletter h2 {
  text-align: center;
  font-weight: 300;
}

.btn-block {
  width: 25%;
  background: #fff;
  color: black;
}
/*MEDIA QUERIES - MOBILE*/
@media screen 
  and (max-width: 480px) {
  .main-navigation {
        display: none;
    }
  .card .card-description {
    padding: 1rem;
    height: 15rem;
}  
}


@media screen 
  and (min-device-width: 320px) 
  and (max-device-width: 736px) {
  .main-navigation {
        display: none;
    }
  .modal {
    width: 100%;
  }
  .card .card-description {
    padding: 1rem;
    height: 15rem;
  }  
}


